In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import math

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, recall_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

import wrangle
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

### Acquire Data

In [34]:
print('Acquiring data from SQL database') query = ''' SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips FROM zillow.properties_2017
                                            '''
    df = pd.read_sql(query, database_url_base + 'query')

SyntaxError: invalid syntax (4267065454.py, line 1)

In [25]:
get_zillow_data

In [26]:
df = pd.read_csv("zillow_2017.csv")
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,9.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
2,0.0,0.0,73026.0,1434941.0,1959.0,20800.37,6037.0
3,0.0,0.0,5068.0,1174475.0,1948.0,14557.57,6037.0
4,0.0,0.0,1776.0,440101.0,1947.0,5725.17,6037.0

In [27]:
df.shape

(1329388, 7)

In [28]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,1329385.0,3.092138,1.271017,0.00,2.0,3.0,4.000,2.500000e+01
bathroomcnt,1329380.0,2.216263,1.078690,0.00,2.0,2.0,3.000,2.000000e+01
calculatedfinishedsquarefeet,1310646.0,1833.000820,2209.563056,1.00,1214.0,1574.0,2140.000,9.525760e+05
taxvaluedollarcnt,1315244.0,445208.039057,927790.886340,1.00,188215.0,321333.0,514915.000,3.196225e+08
yearbuilt,1309420.0,1964.446257,23.642872,1808.00,1950.0,1963.0,1981.000,2.016000e+03
taxamount,1320604.0,5426.109551,10921.144878,2.54,2468.1,4008.3,6234.455,3.823176e+06
fips,1329387.0,6048.102725,20.310136,6037.00,6037.0,6037.0,6059.000,6.111000e+03

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1329388 entries, 0 to 1329387
Data columns (total 7 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   bedroomcnt                    1329385 non-null  float64
 1   bathroomcnt                   1329380 non-null  float64
 2   calculatedfinishedsquarefeet  1310646 non-null  float64
 3   taxvaluedollarcnt             1315244 non-null  float64
 4   yearbuilt                     1309420 non-null  float64
 5   taxamount                     1320604 non-null  float64
 6   fips                          1329387 non-null  float64
dtypes: float64(7)
memory usage: 71.0 MB

### Prepare the Data

In [12]:
df.isnull().sum()

bedroomcnt                          3
bathroomcnt                         8
calculatedfinishedsquarefeet    18742
taxvaluedollarcnt               14144
yearbuilt                       19968
taxamount                        8784
fips                                1
dtype: int64

In [14]:
#drop null values 
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1293485 entries, 2 to 1329386
Data columns (total 7 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   bedroomcnt                    1293485 non-null  float64
 1   bathroomcnt                   1293485 non-null  float64
 2   calculatedfinishedsquarefeet  1293485 non-null  float64
 3   taxvaluedollarcnt             1293485 non-null  float64
 4   yearbuilt                     1293485 non-null  float64
 5   taxamount                     1293485 non-null  float64
 6   fips                          1293485 non-null  float64
dtypes: float64(7)
memory usage: 78.9 MB

#At this time I don't see any reason to change the datatype

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,1293485.0,3.169296,1.184573,0.00,2.00,3.00,4.00,2.500000e+01
bathroomcnt,1293485.0,2.271927,1.031392,0.00,2.00,2.00,3.00,2.000000e+01
calculatedfinishedsquarefeet,1293485.0,1837.945371,2175.197298,1.00,1218.00,1581.00,2148.00,9.525760e+05
taxvaluedollarcnt,1293485.0,445624.097779,781167.050072,22.00,192538.00,324450.00,517527.00,2.870985e+08
yearbuilt,1293485.0,1964.266195,23.626366,1808.00,1950.00,1963.00,1981.00,2.016000e+03
taxamount,1293485.0,5464.338595,9305.788683,11.94,2543.29,4059.86,6281.83,3.458861e+06
fips,1293485.0,6047.921894,20.154668,6037.00,6037.00,6037.00,6059.00,6.111000e+03

# Types of Scalers

In [23]:
train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])

NameError: name 'seed' is not defined

In [ ]:
 train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])

In [3]:
df = wrangle.wrangle_zillow()

Acquiring data from SQL database

TypeError: map() got an unexpected keyword argument 'inplace'